* {
    margin: 0;
    padding: 0;
    color: #000;
    width: 95%;
    font-family: 'com4t_sans_mediumregular', monospace;
}

.grid {
    display: grid;
    /* width: 100%; */
    /* min-width: 300px; */
    position: relative;
    margin: auto;
    grid-gap: 3px;
    grid-template: repeat(9, 95px) / repeat(4, minmax(90px, 500px));
    align-content: center;
    justify-items: left;
    /* grid-template-columns: 200px 400px 600px;
    grid-template-rows: 200px 100px repeat(3, 25%) 100px; */
    grid-template-areas:    "header     header      header      header"
                            "nav        nav         nav         nav"
                            "sidebar    img-left    p-right  p-right"
                            "sidebar    img-left    p-right  p-right"
                            "sidebar    img-left    p-right  p-right"
                            "sidebar    p-left      p-left   img-right"
                            "sidebar    p-left      p-left   img-right"
                            "sidebar    p-left      p-left   img-right"
                            "footer     footer      footer      footer"; 
}

.inline {
    display: inline;
}

header {
    grid-area: 1 / 1 / 2 / 7;
    padding: 20px;
    font-size: 1.3em;
    /* margin-left: 10px; */
    background-color: rgba(107, 164, 243, 0.1);
    -webkit-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    /* grid-area: logo; */
    /* grid-area: nav; */
}

nav {
    background-color: rgba(255, 228, 196, 0.35);
    -webkit-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    grid-area: 2 / 1 / 3 / 7;
    /* justify-content: center; */
    padding: 20px;
}

ul {
    list-style-type: none;

    /* border: solid 1px black; */
}

li {
    display: inline;
    padding-right: 40px;

}

a {
    text-decoration: none;
    font-weight: 700;
}

main {
    /* grid-area: 3 / 1 / 9 / 2; */
    background-color: lightgrey;
    /* height: 620px; */
    display: inline;
    grid-area: sidebar;
}

/* .sidebar a {
    display: block;
    padding: 20px;
    
} */

.img-left {
    grid-area: 3 / 2 / 5 / 3;
    float: left;
    /* width: 90px;
    height: auto; */
}

p.p-right {
    /* grid-area: 3 / 4 / 6 / 7; */
    /* float: left; */
    color: red;
    grid-area: p-right;
    display: inline;
}

footer {
    background-color: aliceblue;
    grid-area: 9 / 1 / 10 / 7;
    align-content: end;
    padding: 20px;
    grid-area: footer;
}

