@font-face {
    font-family: 'architects_daughterregular';
    src: url('fonts/architectsdaughter-webfont.woff2') format('woff2'),
        url('fonts/arbutusslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: #000;
    width: 100%;
    min-width: 180px;
    /* font-family: 'com4t_sans_mediumregular', monospace; */
    /* font-family: 'arbutus_slabregular', monospace; */
    font-family: 'architects_daughterregular', monospace;
    box-sizing: border-box;
}

#grid {
    display: grid;
    position: relative;
    margin: auto;
    grid-gap: 5px;
    grid-template: 1fr 1fr 12fr 1fr / 1fr 2fr;
    align-items: justify;
    justify-items: center;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    padding: 15px;
    font-size: 1.3em;
    text-align: left;
    background-color: rgba(107, 164, 243, 0.5);
    -webkit-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    /* position: fixed;
    z-index: 10; */
}

/* h1 {
    margin-left: 100px;
} */

.nav {
    background-color: rgba(255, 228, 196, 0.2);
    -webkit-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    grid-area: 2 / 1 / 3 / 3;
    justify-self: stretch;
    padding: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    /* border: solid 1px black; */
}

li {
    display: inline;
}

a {
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: darkmagenta;
    font-weight: 900;
    font-size: 1.02em;
}

li:nth-child(even) {
    padding: 0 50px;
}

main {
    grid-area: 3 / 1 / 4 / 3;
    /* background-color: lightgrey; */
    display: grid;
    grid-gap: 20px;
    grid-template: repeat(2, 1fr) / 200px 2fr;
    align-content: center;
    -webkit-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
}

.sidebar {
    box-sizing: border-box;
    /* padding: 20px; */
    grid-area: 1 / 1 / 3 / 2;
    -webkit-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
}

.sidebar li {
    display: block;
    padding: 40px 20px 0 0;
}

.sidebar li:nth-child(even) {
    padding: 200px 0;
}

.blog {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    justify-items: center;
    grid-gap: 5px;
    background-color: rgba(255, 248, 220, 0.3);
    -webkit-box-shadow: 2px 4px 5px 0px rgba(245, 245, 245, 1);
    -moz-box-shadow: 2px 4px 5px 0px rgba(245, 245, 245, 1);
    box-shadow: 2px 4px 5px 0px rgba(245, 245, 245, 1);
}

img {
    width: auto;
    height: 600px;
    padding: 50px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 1);
    box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 1);
}

.img-left {
    grid-area: 1 / 1 / 2 / 2;
}

.img-right {
    grid-area: 2 / 3 / 3 / 4;
}

.blog p {
    padding: 150px;
    font-size: 1.7em;
}

.p-left {
    grid-area: 2 /1 / 3 / 3;
}

.p-right {
    grid-area: 1 / 2 / 2 / 4;
}

footer {
    background-color: aliceblue;
    grid-area: 4 / 1 / 5 / 3;
    padding: 20px;
    -webkit-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    -moz-box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
    box-shadow: 4px 5px 5px 0px rgba(232, 232, 232, 1);
}

@media only screen and (max-width: 200px) {
    #grid {
        display: grid;
        position: relative;
        margin: auto;
        grid-gap: 5px;
        grid-template: 1fr 1fr 12fr 1fr / 1fr 2fr;
        align-items: justify;
        justify-items: center;
    }

    li {
        padding: 0px;
    }

    .blog p {
        padding: 10px;
        font-size: 0.9em;
    }

    img {
        width: auto;
        height: 100px;
        padding: 20px;
        -webkit-box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 1);
        -moz-box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 1);
        box-shadow: 2px 2px 2px 0px rgba(232, 232, 232, 1);
    }

    .sidebar li:nth-child(even) {
        padding: 20px 0;
    }
}